@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


html {
    height: 100%;
}

body {
    background: #FFFFFF;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    min-height: 100%;

}

div#carousel {

    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 20px;
    padding: 10px 80px;
    box-sizing: border-box;
}

#carousel-image {
    width: 100%;
    max-height: 100%;
    /* Permite que a imagem se ajuste à altura do carrossel */
    border-radius: 8px;
    box-shadow: 4px 6px 6px rgb(58, 67, 70);
    transition: all .3s ease-in-out;
}

div#carousel-title {

    text-align: center;
    padding: 10px 0;
    font-weight: bold;
}

div#carousel-title a {
    text-decoration: none;
    color: #1B357E;
    font-size: 19px;
}

main {
    flex-grow: 1;
    justify-content: center;
    align-items: center;

}

header ul {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

ul {
    display: inline-block;
}

header {
    background: #FFFFFF;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
}

header div {
    display: inline;
    vertical-align: middle;
}

header nav {
    display: inline-block;
    vertical-align: middle;
    width: 80vw;
}

header nav a {
    color: #1351d8;
    font-size: 20px;
    text-decoration: none;
    font-weight: 900;
    margin-left: 14px;
    margin-right: 14px;
}

header nav a:hover {
    color: #007BFF;
    text-decoration: none;
    font-weight: 900;
}

nav li {
    display: inline;
    list-style: none;
}

main {
    min-height: calc(100% - 167px);
}

nav#social {
    display: inline;
    width: 80%;
}

nav#social ul img {
    width: 28px;
}

span.redesociais {
    color: #ffffff;
    vertical-align: super;
}

footer {
    background: #1B357E;
    padding: 20px;
}

footer div {
    display: inline;
    float: right;
    margin-right: 40px;
}

button:hover {
    background: #007BFF;
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

button {
    background: #1351d8;
    color: #fff;
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    justify-content: center;
    align-items: center;
}